.statement-income{

  .income-content__search{
    width: 100%;
    padding: $normal-padding;
    background-color: #FFF;
    @include setEqualInterval(1rem);
    @include clearFix;

    > *{
      float: left;
    }
  }

  .income-statistic{
    height: auto;
    margin-top: 1rem;

    .eg-box__content{
      padding-top: 0;
    }

    .income-statistic__content{
      display: flex;

      .income-statistic__content--left{
        width: 50%;
        height: 16rem;
      }

      .income-statistic__content--right{
        width: 50%;
      }
    }
  }

  .income-detail{
    position: relative;
    height: auto;
    margin-top: 1rem;

    .income-detail__header--center{
      position: absolute;
      top: 1rem;
      right: 50%;
      transform: translateX(50%);
    }

    .income-detail__chart{
      height: 15rem;
    }
  }
}
