.config-warn {
    display: flex;
    flex-direction: column;
    .warn-edit {
        .eg-box__header {
            padding-bottom: 1rem;
        }
        &__row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;
            min-height: 2.5rem;
            @include setEqualInterval(1rem);
            &-title {
                width: 6.5rem;
            }
            &-box {
                width: 27.5rem;
                height: 18rem;
                border: $common-border;
                border-radius: $common-border-radius;
                overflow: auto;
                padding: 1rem 1rem 0;
            }
            .align-top {
                align-self: flex-start;
                margin-top: 0.5rem;
            }
        }
    }
}
