// 基本配置布局
.config-tab{
  padding: 1rem;
  text-align: center;
  background-color: #FFF;
  margin-bottom: 1rem;
}

.config-scheme{
  height: 0;
  flex: 1;
  position: relative;
  background-color: #FFF;
}
