/**
 * normalize css
 */
html, body{
  height: 100%;
  width: 100%;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  html, body {
    font-size: 14px;
  }
}

.eg-box {
  .eg-box__header {
    .eg-box__header--left {
      //display: flex;
      //justify-content: flex-start;
      //align-items: center;
      @include setEqualInterval(1rem);
    }
  }
}

@import "./iconfont.css";
