/**
 * normalize css
 */
html, body{
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: HiraginoSansGB-W3;
}

a {
  text-decoration: none;
}

.main-container{
  width: 100%;
  height: 100%;
  overflow: auto;
}
