
$normal-padding: 1rem;

$nav-width: 16rem;
$normal-input-height: 2.5rem;
$normal-input-width: 12rem;
$border-radius: 4px;

$main-color: #3d7dff;
$border-color: #a3a7af;
$background-color: #f2f5fa;
$common-border-radius: 4px;
$common-border: solid 1px $border-color;

$font-color: #5e5e5e;
$font-size: 1rem;
$small-font-size: .9rem;

/*icon图标颜色*/
$icon-content_icon_required: #f56c6c;
