.charge-management{

  .edit-wrapper{
    height: 18rem;
    margin-bottom: 1rem;

    .edit-content{
      display: flex;

      &--left{
        width: 50%;
        padding: 1.5rem;
        margin-right: 1rem;
        background-color: $background-color;

        .edit-content__name{
          font-weight: bold;
        }
        > p{
          margin-bottom: 1rem;

          > label{
            display: inline-block;
            width: 5rem;
          }
        }

        .eg-button{
          margin-top: .5rem;
          margin-left: 1rem;
        }
      }

      &--right{
        width: 50%;
        padding: 1.5rem;
        background-color: $background-color;

        > p{
          margin-bottom: 2rem;

          > label{
            padding-right: 1rem;
          }
        }

        .eg-button{
          margin-top: 1rem;
          margin-left: 1rem;
        }
      }
    }
  }

  .management-recent{
    height: initial;
    margin-bottom: 1rem;
  }

  .management-trend{
    height: initial;
  }

  .management-edit__title{
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.recent-table__total{
  min-width: initial;
  .recent-table__pop{

    > p{
      padding: .2rem;

      > label {
        padding-right: 1rem;
      }
    }
  }
}
