
.system-role {
    background-color: white;
    .role-box {
        .eg-box__header--left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include setEqualInterval(1rem);
        }
    }
    .role-edit {
        &__header {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            @include setEqualInterval(1rem);
            &-title {
                font-size: 1.125rem;
                font-weight: bold;
            }
        }
        &__row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;
            min-height: 2.5rem;
            @include setEqualInterval(1rem);
            &-title {
                width: 5rem;
                margin-right: 1rem;
            }
            &-box {
                width: 27.5rem;
                height: 18rem;
                border: $common-border;
                border-radius: $common-border-radius;
                overflow: auto;
            }
            .align-top {
                align-self: flex-start;
                margin-top: 0.5rem;
            }
        }
    }
}
