.config-price{
  .price-edit__row{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .price-edit__lable{
      align-self: flex-start;
      display: inline-block;
      width: 5rem;
      height: $normal-input-height;
      line-height: $normal-input-height;
    }

    > .iconfont{
      margin-left: .5rem;
      font-size: .6rem;
    }

    // 电价设置
    .price-edit__price{
      width: 60rem;
      min-height: 10rem;
      border: 1px solid #a3a7af;
      border-radius: $border-radius;
      padding: .5rem 1rem;

      &-block{
        border-bottom: 1px solid #f2f5fa;
        padding-bottom: .5rem;
        .price-block__title{
          margin-bottom: .5rem;
        }
        .price-block__condition{
          margin-bottom: 1rem;
          @include setEqualInterval(1rem)
        }
      }
    }
  }
}
