.config-subsidy {

  .subsidy-edit__row{
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &-label{
      align-self: flex-start;
      flex-shrink: 0;
      display: inline-block;
      width: 5rem;
      height: $normal-input-height;
      line-height: 2.4rem;
    }

    &-item{
      min-width: 22rem;
      flex-shrink: 0;

      > .term-label{
        margin: 1rem;
      }
    }

    .iconfont{
      font-size: .5rem;
      margin-left: .5rem;
    }

    .edit-money__block{
      min-width: 25rem;
      padding: 1rem;
      border: 1px solid $border-color;
      border-radius: $common-border-radius;

      .edit-money__btn-bar{
        padding-bottom: 1rem;
        margin-bottom: .5rem;
        border-bottom: 1px solid #f2f5fa;
        @include setEqualInterval(1rem, down)
      }
    }

    .edit-room__block{
      display: flex;
      flex-direction: column;
      width: 25rem;
      min-height: 10rem;
      border: 1px solid $border-color;
      border-radius: $common-border-radius;
      padding: 1rem;

      .eg-input{
        margin-bottom: .5rem;
        flex-shrink: 0;
      }

      .el-tree{
        height: 0;
        flex: 1;
        overflow: auto;
      }
    }
  }

  .subsidy-edit__footer{
    padding: 2rem 0 0 5rem;
  }
}
